{% extends "cosinnus_poll/base.html" %}
{% load i18n static cosinnus_tags widget_tweaks %}

{% block page_title %}
{% trans "Polls" %} {{ block.super }}
{% endblock page_title %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="active">{% if poll_view == "past" %}{% trans "Archived Polls" %}{% else %}{% trans "Polls" %}{% endif %}</li>
{% endblock %}

{% block leftnav %}
    {% include "cosinnus_poll/leftnav.html" %}
{% endblock leftnav %}

{% block content %}

	<!-- a box with semi transparent background -->
	<div class="content-box large-space">
        {% include 'cosinnus/common/filter_controls.html' %}        
	    
	    {% for poll in future_polls %}
        	{% include 'cosinnus_poll/list_object.html' %}
	    {% empty %}
	        {% if poll_view == 'past' %}
	        	{% captureas empty_message %}{% trans "There are no archived polls." %}{% endcaptureas %
	        {% else %}
	        	{% captureas empty_message %}{% trans "There are no running polls." %}{% endcaptureas %
	        {% endif %}
	        {% include 'cosinnus/common/empty_button.html' with message=empty_message %}
	    {% endfor %}
	   
	</div><!-- content-box -->
	
{% endblock content %}
