{% load i18n cosinnus_tags %}

{% if polls %}
    {% for poll in polls %}
        <div type="button" href="{{ poll.get_absolute_url }}" class="btn btn-emphasized dashboard-appwidget-contentline fine-space">
            <ul class="media-list">
                <li class="media">
		            <a class="pull-left square-date-icon" href="#">
		                <div>{{ poll.from_date|date:"d" }}</div>
		                <div>{{ poll.from_date|date:"M" }}</div>
		            </a>
                    <a class="pull-right" href="{{ poll.get_absolute_url }}">
                        <i class="fa fa-bar-chart"></i>
                    </a>
                    <div class="media-body">
                        <a href="{{ poll.get_absolute_url }}">{{ poll.title }}</a>
                        <div class="group-annotation">
                            {% include 'cosinnus/group/group_label.html' with group=poll.group %}
                        </div>

                    </div>
                </li>
            </ul>
        </div><!-- btn -->

    

    {% endfor %}
{% else %}
    <div type="button" class="btn btn-emphasized dashboard-appwidget-contentline">
        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <i class="fa fa-tasks"></i>
                </a>
                <div class="media-body">
                    {% trans "There are no upcoming polls" %}
                </div>
            </li>
        </ul>
    </div><!-- btn -->
{% endif %}


<script type="text/javascript">
    var cosinnus_calendarWidgetPolls = [
        {% for poll in all_upcoming_polls %}
            {% if poll.from_date %}
            {
                title: $.cosinnus.decodeEntities('{{ poll.title }}'),
                start: moment("{{ poll.from_date|date:"c"}}"),
                {% if poll.to_date %}
                end: moment("{{ poll.to_date|date:"c"}}"),
                {% endif %}
                url: '{% group_url "cosinnus:poll:detail" group=poll.group slug=poll.slug %}'
            },
            {% endif %}
        
        {% endfor %}
    
    ];

    $.cosinnus.fullcalendar();
</script>
