
.poll-option.poll-option-yes,
.poll-option.poll-option-yes .media,
.poll-option.poll-option-yes .media-body {
    background-color: #779b48 !important;
    cursor: pointer !important;
}

.poll-option.poll-option-maybe,
.poll-option.poll-option-maybe .media,
.poll-option.poll-option-maybe .media-body {
    background-color: #efa02d !important;
    cursor: pointer !important;
}

.poll-option.poll-option-no,
.poll-option.poll-option-no .media,
.poll-option.poll-option-no .media-body {
    background-color: #e55c55 !important;
    cursor: pointer !important;
}

.poll-option-display {
    display: none;
}
.poll-option.poll-option-yes .poll-option-display-yes {
    display: inherit;
}
.poll-option.poll-option-maybe .poll-option-display-maybe {
    display: inherit;
}
.poll-option.poll-option-no .poll-option-display-no {
    display: inline;
}

.vote-count {
    width: auto !important;
    min-width: 40px !important;
    padding: 0 2px 0 4px;
    font-weight: bold; /* or maybe not bold? */
    border-right: 1px solid #CCC;
}
/* unused
.vote-count .vote-count-other {
    font-size: 10px !important;
    line-height: 12px !important;
    display: inline-block;
    position: relative;
    top: 3px;
}
*/

.vote-count-yes {
    color: #779b48;
}
.vote-count-maybe {
    color: #efa02d;
}
.vote-count-no {
    color: #e55c55;
}

.app-poll .btn-emphasized:hover .media > .pull-right {
    background-color: #009EE3 !important;
}

.app-poll .btn-emphasized:hover .media > .pull-right.vote-trophy {
    background-color: #009EE3 !important;
}
.app-poll .btn-emphasized:hover .media > a.pull-right.vote-trophy:hover {
    background-color: #007999 !important;
}
.vote-trophy {
    border-left: 1px solid #DDD;
}

